.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100vw;
    margin: 0 auto;
    column-gap: 20px;
    background-color: var(--color);
    border-radius: 50px;
}

.tabContainer {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: none;
}

.clockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 86px;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    margin: 10px auto;
    padding: 0;
    width: 250px;
    height: 1.5em;
}

.timeInput {
    width: 60px;
    font-size: 3rem;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    padding: 0;
    margin: 0;
}

.colon {
  font-size: 3rem;
  font-weight: bold;
  color: inherit;
  user-select: none;
}

.incrementContainer {
    display: flex;
    gap: 55px;
    height: 40px;
    margin: none auto;
    width: auto;
}

.timerButton {
    display: flex;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    background-color: var(--color)
}

.controlsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 30px;
}
