.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100vw;
    margin: 0 auto;
    column-gap: 20px;
    background-color: rgb(66, 65, 65);
    border-radius: 50px;
}

.tabContainer {
    display: flex;
    gap: 30px;
}

.clock {
    font-size: 2rem;
}

.clockContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    margin: 30px auto;
    padding: 0;
    width: 200px;
    height: 1.5em;
}

.timeInput {
    width: 60px;
    font-size: 3rem;
    text-align: center;
    border: none;
    background: transparent;
    outline: none;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    padding: 0;
    margin: 0;
}

.colon {
  font-size: 3rem;
  font-weight: bold;
  color: inherit;
  user-select: none;
}

.incrementContainer {
    display: flex;
    gap: 50px;
    height: 60px;
    margin: 10px auto;
    width: auto;
}

.timerButton {
    display: flex;
    align-items: center;
    border-radius: 25px;

}

.controlsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 30px;
}
